*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --primary: white;
    --secondary : #4914da;
    --third: #ececec;
    --black: black;
    --bg2: #78c96e;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    background: var(--third);
    justify-content: space-between;
    padding: 28px 12%;
    transition: all .50s ease;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

body{
    font-size: 16px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 200px;
}

.navbar{
    display: none;
}

.navbar_slide{
    display: flex;
}

.navbar_slide a{
    color: var(--black);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar_slide a:hover{
    color: #602cf1;
}

.main{
    display: flex;
    align-items: center;
}

.main{
    display: flex;
    align-items: center;
}

#menu-icon{
    display: none;
}

.main .menu-container .button1 {
    float: right;
    padding: 6px 10px;
    margin-top: 2px;
    margin-right: 16px;
    background: var(--white);
    color: var(--black);
    width: 70px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.main .menu-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 2px;
    margin-right: 16px;
    background: var(--secondary);
    color: var(--primary);
    width: 160px;
    height: 40px;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.box1 h3{
    position: relative;
    font-size: 30px;
    padding-top: 90px;
    color: var(--primary);
}
.box1 p{
    margin-left: -20px;
    position: relative;
    color: var(--primary);
}

.button_prices{
    margin-left: -20px;
    width: 250px;
    height: 50px;
    color: var(--primary);
    background-color: #e91248;
    border-radius: 10px;
    font-size: 20px;
}

.box div{
    position: absolute;
    margin-top: 110px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box div:nth-child(1){
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(2){
    top: 20%;
    left: 50%;
    animation: animate 7s linear infinite;
}

.box div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
}

.box div:nth-child(4){
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
}

.box div:nth-child(5){
    top: 17%;
    left: 10%;
    animation: animate 6s linear infinite;
}

.box div:nth-child(6){
    top: 30%;
    left: 70%;
    animation: animate 12s linear infinite;
}

.box div:nth-child(7){
    top: 10%;
    left: 80%;
    animation: animate 15s linear infinite;
}

.box div:nth-child(8){
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
}

@keyframes animate{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
.modal-content {
    position: relative;
    background-color: var(--third);
    margin: auto;
    padding: 0;
    border: 1px solid var(--third);
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    border-radius: 10px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: var(--black);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--third);
    color: var(--black);
    border-radius: 10px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-body h3{
    margin-left: -185px;
    font-size: 15px;
}
.modal-body h4{
    margin-left: -210px;
    font-size: 15px;
}

.modal-body input{
    padding: 10px;
    width: 300px;
    height: 30px;
    border-radius: 10px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: var(--third);
    color: var(--black);
    border-radius: 10px;
}

.modal-footer button{
    width: 200px;
    border-radius: 10px;
    font-size: 15px;
    background: var(--secondary);
    color: var(--third);
}

section {
    padding: 7.5rem 0 3rem;
}

.container{
    width: 100%;
}

.column_service {
    float: left;
    width: 34%;
    padding: 0 10px 30px;
    margin: -6px;
    text-align: left;
}

.row_service {
    margin: 0 22%;
}

.card_service{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    height: 300px;
    width: 330px;
}

.card_service h4{
    padding-top: 150px;
    color: var(--secondary);
}

.card_service p{
    padding: 10px;
}

h3{
    margin-left: -50px;
}

.box2{
    position: relative;
    width: 100%;
    margin-top: 550px;
    height:770px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--secondary);
    justify-content: center;
    align-items: center;
    /* background: rgba(0,0,0,0.5); */
}

.box2 div{
    position: absolute;
    margin-top: 110px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
}

.box2 div:nth-child(1){
    top: 20%;
    left: 45%;
    animation: animates 10s linear infinite;
}

.box2 div:nth-child(2){
    top: 20%;
    left: 90%;
    animation: animates 7s linear infinite;
}

.box2 div:nth-child(3){
    top: 17%;
    left: 6%;
    animation: animates 9s linear infinite;
}

.box2 div:nth-child(4){
    top: 50%;
    left: 80%;
    animation: animates 10s linear infinite;
}

.box2 div:nth-child(5){
    top: 50%;
    left: 30%;
    animation: animates 6s linear infinite;
}

.box2 div:nth-child(6){
    top: 70%;
    left: 50%;
    animation: animates 12s linear infinite;
}

.box2 div:nth-child(7){
    top: 10%;
    left: 70%;
    animation: animates 15s linear infinite;
}

.box2 div:nth-child(8){
    top: 32%;
    left: 55%;
    animation: animates 16s linear infinite;
}

@keyframes animates{
    0%{
        transform: scale(0) translateY(0) rotate(0);
        opacity: 1;
    }100%{
        transform: scale(1.3) translateY(-90px) rotate(360deg);
        opacity: 0;
    }
}

.paket{
    position: relative;
    margin-top: -890px;
}

.column_paket {
    float: left;
    width: 34%;
    padding: 0 17px 30px;
    margin: -6px;
    text-align: left;
}

.row_paket {
    margin: 0 350px;
}

.h3_size_price{
    font-size: 30px;
    color: white;
}

.h3_size{
    margin-left: -20px;
    font-size: 30px;
}

.p_size{
    font-size: 13px;
    margin-left: -40px;
}

.p_size_price{
    font-size: 13px;
    margin-left: -40px;
    color: white;
}

.bg-primary{
    background-color: var(--secondary);
}

.card_paket{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    height: 600px;
    width: 350px;
}

.card_paket .h4_size{
    padding-top: 20px;
    font-size: 30px;
    color: var(--secondary);
}

.card_paket .p_des{
    font-size: 10px;
    /* color: var(--secondary); */
}

.card_paket .h4_price{
    font-size: 20px;
    /* color: var(--secondary); */
}

.card_paket i{
    color: #FFD700;
    font-size: 20px;
}

.card_paket .bx-x{
    color: red;
    font-size: 20px;
}

.card_paket h6{
    float: left;
    margin-left: 10px;
    font-size: 15px;
    /* color: var(--secondary); */
}

.card_paket .p_price{
    margin-top: 330px;
    padding: 20px;
    font-size: 10px;
    color: #e91248;
}

.card_paket h5{
    font-size: 10px;
}

.card_paket button{
    width: 150px;
    height: 30px;
    background-color: var(--secondary);
    color: var(--third);
    border-radius: 10px;
}

.projek{
    margin-top: -100px;
}

.projek_link{
    margin-left: 830px;
}

.column_p2 {
    float: left;
    width: 34%;
    padding: 0 98px 171px;
    margin: -25px;
    text-align: left;
}

.row_p2 {
    margin: 0 360px;
}

.card_p2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    text-align: center;
    background-color: #f1f1f1;
    border-radius: 10px;
    height: 180px;
    width: 300px;
    margin-top: -100px;
}

.h5_price{
    padding-top: 0px;
}

.button_link{
    width: 300px;
    padding-top: -100px;
    border-radius: 5px;
    background-color: var(--secondary);
    color: white;
}

.h3_title{
    margin-left: -20px;
    color: var(--secondary);
    font-size: 17px;
    /* float: right; */
}

.p_projek{
    font-size: 12px;
}

.p_projek .bx-check{
    color: green;
}

.p_projek .bx-x{
    color: red;
}

.portofolio{
    margin-top: 250px;
}

.Carousel-slider {
    height: 560px;
    position: relative;
    width: 100%;
}

.Carousel-slider.fullwidth {
    height: 500px;
}

.Carousel-slider.fullwidth .slider-item {
    height: 480px;
    line-height: 480px;
    width: 100%
}

.slider-wrapper {
    overflow: hidden;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0 50%;
	perspective: 800px  !important;
}

.slider-item {
    box-shadow: 0 1px 3px rgba(0,0,0,.06), 0 1px 2px rgba(0,0,0,.12);
    display: none;
    height: 320px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 320px;
    cursor: pointer;
	border: 5px solid #ffc107;
}

.indicators {
	top: 0;
    left: 50.5%;
    padding: 0;
    list-style-type: none;
    margin: 40px 0 0 -54px;
    position: absolute;
}

.indicators li {
    color: #255f8b;
    float: left;
    height: 16px;
    margin-right: 8px;
    text-align: center;
    width: 16px;
}

.indicators li:last-child {margin: 0;}
.indicators a {
    background: #00416a;
    border-radius: 8px;
    display: inline-block;
    height: 16px;
    width: 16px;
}

.indicators .active a {
	background: #e4e5e6;

}

footer{
    position: relative;
    width: 100%;
    height: auto;
    padding-top: 80px;
    background-color: var(--third);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.container_footer{
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 12px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper .footer-widget{
    width: calc(20% - 30px);
    margin: 0 15px 50px;
    padding: 0 12px;
}

.wrapper .footer-widget:nth-child(1){
    width: calc(40% - 50px);
    margin-right: 15px;
}

.wrapper .footer-widget .logo{
    margin-bottom: 30px;
    vertical-align: middle;
}

.wrapper .footer-widget p{
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}

.wrapper .footer-widget .socials{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.wrapper .footer-widget .socials li a {
    width: 44px;
    height: 44px;
    margin-right: 10px;
    color: #ffffff;
    background-color: var(--secondary);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .socials li a:hover {
    background-color: #602cf1;
}

.wrapper .footer-widget h6{
    color: #000;
    margin: 10px 0 35px;
    font-size: 20px;
    font-weight: 600;
}

.wrapper .footer-widget .links li{
    list-style: none;
}

.wrapper .footer-widget .links li a{
    color: black;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    line-height: 32px;
    transition: all 0.3s ease-out;
}

.wrapper .footer-widget .links li a:hover{
    color: #602cf1;
}

.copyright-wrapper{
    padding: 20px 0;
    border-top: 1px solid black;
}

.copyright-wrapper p{
    color: black;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}

.copyright-wrapper p a{
    color: inherit;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.copyright-wrapper p a:hover{
    color: #602cf1;
}

@media only screen and (max-width: 1518px) {
    .navbar_slide{
        display: none;
    }

    .main{
        display: none;
    }

    #menu-icon{
        display: flex;
        font-size: 45px;
        color: #5d4bff;
        margin-left: 18px;
    }

    .navbar{
        position: fixed;
        top: 14%;
        right: -100%;
        width: 400px;
        height: 100vh;
        background: linear-gradient(rgba(0,0,0,0.7), var(--secondary));
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        transition: all .50s ease;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 28px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .navbar a:hover{
        color: rgb(224, 175, 68);
        transform: translateY(5px);
    }
    .navbar a.active{
        color: var(--white);
    }
    .navbar.open{
        right: 1%;
    }
}

@media only screen and (max-width: 400px) {
    .logo img{
        width: 150px;
    }
    #menu-icon{
        font-size: 30px;
    }
    .navbar{
        top: 13%;
        right: -120%;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        font-size: 15px;
        color: white;
        transition: all .50s ease;
        text-decoration: none;
    }
    .modal{
        padding-top: 50%;
    }
    .modal-content{
        width: 90%;
    }
    .box1 h3{
        padding: 0 30px;
        padding-top: 80px;
        padding-left: 77px;
        font-size: 15px;
    }
    .box1 p{
        padding-left: 20px;
        font-size: 10px;
    }
    .button_prices{
        margin-left: 10px;
        width: 150px;
        font-size: 15px;
    }
    .box div{
        position: absolute;
        margin-top: 110px;
        width: 60px;
        height: 60px;
        background-color: transparent;
        border: 6px solid rgba(255,255,255,0.8);
    }
    
    .box div:nth-child(1){
        top: 80%;
        left: 10%;
        animation: animate 10s linear infinite;
    }
    
    .box div:nth-child(2){
        top: 20%;
        left: 50%;
        animation: animate 7s linear infinite;
    }
    
    .box div:nth-child(3){
        top: 17%;
        left: 6%;
        animation: animate 9s linear infinite;
    }
    
    .box div:nth-child(4){
        top: 60%;
        left: 80%;
        animation: animate 10s linear infinite;
    }
    
    .box div:nth-child(5){
        top: 50%;
        left: 5%;
        animation: animate 6s linear infinite;
    }
    
    .box div:nth-child(6){
        top: 30%;
        left: 70%;
        animation: animate 12s linear infinite;
    }
    
    .box div:nth-child(7){
        top: 10%;
        left: 80%;
        animation: animate 15s linear infinite;
    }
    
    .box div:nth-child(8){
        top: 90%;
        left: 60%;
        animation: animate 16s linear infinite;
    }

    .h3_size{
        margin-left: 10px;
    }

    .column_service {
        float: left;
        width: 70%;
        padding: 0 10px 30px;
        margin: -6px;
        text-align: left;
    }
    
    .row_service {
        margin: 0 7%;
    }

    .box2{
        margin-top: 1000px;
        height: 2000px;
    }

    .paket{
        position: relative;
        margin-top: -2070px;
    }

    .h3_size_price{
        margin-left: -10px;
        font-size: 25px;
    }

    .p_size_price{
        margin-left: -10px;
        font-size: 10px;
    }

    .column_paket {
        float: left;
        width: 70%;
        padding: 0 17px 58px;
        margin: -22px;
        text-align: left;
    }
    
    .row_paket {
        margin: 0 26px;
    }

    .box2 div:nth-child(1){
        display: none;
    }
    
    .box2 div:nth-child(2){
        display: none;
    }
    
    .box2 div:nth-child(3){
        display: none;
    }
    
    .box2 div:nth-child(4){
        display: none;
    }
    
    .box2 div:nth-child(5){
        display: none;
    }
    
    .box2 div:nth-child(6){
        display: none;
    }
    
    .box2 div:nth-child(7){
        display: none;
    }
    
    .box2 div:nth-child(8){
        display: none;
    }

    .projek_link{
        margin-left: 92px;
    }

    .p_size{
        font-size: 10px;
        margin-left: 0px;
    }

    .column_p2 {
        float: left;
        width: 70%;
        padding: 0 89px 198px;
        margin: -39px;
        text-align: left;
    }
    
    .row_p2 {
        margin: 0 0px;
    }

    .portofolio{
        margin-top: 1100px;
    }

    
}
